### LISTA DE GITIGNORE DE MITOCODE ###
### https://github.com/github/gitignore ###

### MAVEN ###
*/target/*
!.mvn/wrapper/maven-wrapper.jar

### INTELLIJ IDEA ###
*/.idea/*
*.iml
*.iws
*.ipr


### INTELLIJ IDEA ###
/.settings/
*.project
*.classpath
*.settings
*.springBeans
*.factorypath
*.apt_generated

### NETBEANS ###
/nbprohect/private/
/build/
/nbbuild/
/dist/
/nbdist/
*.nb-gradle


### ANGULAR ###
/node_modules/