<h2>Products</h2>
<!--*ngFor es una directiva de recorrido dinamico de arreglos del component.ts-->
<!--let [var a usar en html] of [Variable en Component.ts]-->
<!--V.0.2.0-->
<!--Se le crea un ID automatico con la siguiente declaracion: index as productId (index as [Var a usar en html])-->
<div *ngFor="let product of products; index as productId">
    <h3>
        <!--V.0.1.0-->
        <!--se agrega caracteristica las cuales se denotan en angular con los [], a esto se le dice Property binding-->
        <!--Aqui usa la caracteristica [title] que agregara una referencia en el link al posicionar el mouse en el mismo-->
        <!--V.0.2.0-->
        <!--Se agrega la caracteristica routerLink que hace posible el manejo de rutas en Angular, -->
        <a [title]="product.name + ' details'" [routerLink]="['/products', productId]">

            <!--V.0.1.0-->
            <!--para imprimir una variable se debe colocar el nombre de la variable entre {{ var }}, de poseer alguna propiedad
        adicional se puede llamar igualmente con un punto {{ var.propiedad }}, a esto se le llama Interpolation (interpolacion)-->
            {{product.name}}

        </a>
    </h3>

    <!--V.0.1.0-->
    <!--*ngIf es una directiva de validacion booleana, como cualquier otro lenguaje, 
        de ser TRUE entonces se mostrara la etiqueta <p> en nuestro html-->
    <p *ngIf="product.description">
        {{product.description}}
    </p>

    <!--V.0.1.0-->
    <!--Los Eventos son caracteristicas aplicables a nuestro codigo, con angular las mismas se denotan con los (), a esto se le 
        llama Event binding-->
    <!--aqui se ejemplifica el evento click y el mismo puede hacer un llamado a funciones dentro del component.ts como en JS-->
    <button (click)="share()">
        Share
    </button>

    <!--V.0.1.0-->
    <!--Se crea nuevo componente llamado Product-alert con el comando 
        ng generate component product-alert
    y ahora este podra ser llamado con la etiqueta del Selector en su TS (para este caso se deja 
    por default el <app-product-alerts>), este TS pide un parametro de entrada el cual sera el producto y otorgara por medio de una 
        Property binding-->
    <app-product-alerts [product]="product" (notify)="onNotify()">
    </app-product-alerts>

</div>

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
-->