<h2>Mis Unidades</h2>
<div class="row 12">
    <div class="col s6">
        <div class="card">
            <div class="card-content">
                <form #unitForm="ngForm" (ngSubmit)="addUnit(unitForm)">
                    <div class="row">
                        <div class="input-field col s12">
                            <input type="number" name="id" #unitId="ngModel" [(ngModel)]="unit.id"
                                placeholder="Id de juego">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="name" #unitName="ngModel" [(ngModel)]="unit.name"
                                placeholder="Nombre de Unidad">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="firstClass" #unitFClass="ngModel" [(ngModel)]="unit.firstClass"
                                placeholder="Clase Principal">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="secondClass" #unitSClass="ngModel" [(ngModel)]="unit.secondClass"
                                placeholder="Clase Secundaria">
                        </div>
                        <div class="input-field col s12">
                            <input type="text" name="thirdclass" #unitTClass="ngModel" [(ngModel)]="unit.thirdclass"
                                placeholder="Clase Terciaria">
                        </div>
                        <div class="input-field col s12">
                            <input type="number" name="baseStarts" #unitBStarts="ngModel" [(ngModel)]="unit.baseStarts"
                                placeholder="Nivel Base">
                        </div>
                        <div class="input-field col s12">
                            <input type="number" name="maxStarts" #unitMStarts="ngModel" [(ngModel)]="unit.maxStarts"
                                placeholder="Nivel Maximo">
                        </div>
                        <div class="card-action col s12">
                            <button class="btn right" > Agregar </button>
                            <button class="btn left" (click)="resetForm()"> Clean </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col s6">
        <table>
            <thead>
                <th> </th>
                <th>Game ID</th>
                <th>Nombre</th>
                <th>Clase 1°</th>
                <th>Clase 2°</th>
                <th>Clase 3°</th>
                <th>* Base</th>
                <th>* Max</th>
                <th colspan="2">Operation</th>
            </thead>
            <tbody>
                <tr *ngFor="let unit of unitsService.units; index as unitID">
                    <td>{{unitID +1}}</td>
                    <td>{{ unit.id | number:'3.0-0'}} </td>
                    <td>{{ unit.name | uppercase}}</td>
                    <td>{{ unit.firstClass}}</td>
                    <td>{{ unit.secondClass}}</td>
                    <td>{{ unit.thirdclass}}</td>
                    <td>{{ unit.baseStarts}}</td>
                    <td>{{unit.maxStarts}}</td>
                    <td><a (click)="editUnit(unit)"><i class="material-icons">edit</i></a></td>
                    <td><a (click)="deleteUnit(unit.id)"><i class="material-icons">delete</i></a></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>

<div class="container row 12" *ngFor="let unitStaged of unitsStaged">
    <input type="text">
</div>